<!DOCTYPE html>

<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <title>
        {% block title %}
            at Weniger Software House
        {% endblock %}
    </title>
    {% block head_bottom %}
        <meta name="author" content="Weniger Software House">
    {% endblock %}
    {% block stylesheets %}

    <!--[if !lte IE 6]><!-->
        {% stylesheets 'bundles/wshwebsite/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic" />
    <!--<![endif]-->

    <!--[if lte IE 6]>
        <link rel="stylesheet" href="//universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
    <![endif]-->
    {% endblock %}
    <!-- HTML5 Shiv + detect touch events -->
    <script src="/bundles/wshwebsite/js/modernizr.custom.js"></script>

    <!-- HTML5 video player -->
    <script src="/bundles/wshwebsite/js/video.min.js"></script>
    <script>_V_.options.flash.swf = 'http://localhost/smartstart/js/video-js.swf';</script>
<!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>
<body>

<header id="header" class="container clearfix">

    <a href="{{ path('homepage') }}" id="logo" title="Go to homepage">
        <img src="{{ asset('bundles/wshwebsite/img/logo.png') }}" alt="Weniger Software House logo">
    </a>

    <nav id="main-nav">
        {{ knp_menu_render('WshWebsiteBundle:Builder:mainMenu') }}
    </nav><!-- end #main-nav -->
    
</header><!-- end #header -->
<section id="content">
    <div class="container clearfix">
        {% block body %}
        {% endblock %}
    </div>
</section><!-- end #content -->


<footer id="footer" class="clearfix">

    <div class="container">

        <div class="three-fourth footer">

            <nav id="footer-nav" class="clearfix">
                {{ knp_menu_render('WshWebsiteBundle:Builder:mainMenu') }}
            </nav><!-- end #footer-nav -->

            <ul class="contact-info">
                <li class="address">Lęborska 3b, 80-386 Gdańsk, Poland</li>
                <li class="phone">+48 58 731 65 04</li>
                <li class="email"><a href="mailto:contact@wenigersh.com">contact@wenigersh.com</a></li>
            </ul><!-- end .contact-info -->
            
        </div><!-- end .three-fourth -->

        <div class="one-fourth stay-connected">

            <span class="title">Stay connected</span>

            <ul class="social-links">
                <li class="facebook"><a href="http://www.facebook.com/WenigerSH">Facebook</a></li>
                <li class="github"><a href="https://github.com/WenigerSH">GitHub</a></li>
                {# <li class="twitter"><a href="#">Twitter</a></li>
                <li class="digg"><a href="#">Digg</a></li>
                <li class="vimeo"><a href="#">Vimeo</a></li>
                <li class="youtube"><a href="#">YouTube</a></li>
                <li class="skype"><a href="#">Skype</a></li> #}
            </ul><!-- end .social-links -->

        </div><!-- end .one-fourth.last -->

        <div class="eu-projects">
            <a href="/eu-projects"><img src="{{ asset('bundles/wshwebsite/img/eu.png') }}" alt="" /></a>
        </div>
        
    </div><!-- end .container -->

</footer><!-- end #footer -->

<footer id="footer-bottom" class="clearfix">

    <div class="container">

        <ul>
            <li>Weniger Software House &copy; {{ "now"|date("Y") }} | </li>
            <li style="margin-right: 10px;">We use cookies on our website.</li>
            <li><a href="/eu-projects">EU projects (realizowane projekty EU)</a></li>
            <li><a href="/zapytania-ofertowe">Zapytania ofertowe</a></li>
        </ul>

    </div><!-- end .container -->

</footer><!-- end #footer-bottom -->
{% block javascripts %}
<!--[if !lte IE 6]><!-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
    <!--[if lt IE 9]> <script src="/bundles/wshwebsite/js/selectivizr-and-extra-selectors.min.js"></script> <![endif]-->
    <script src="/bundles/wshwebsite/js/respond.min.js"></script>
    <script src="/bundles/wshwebsite/js/jquery.easing-1.3.min.js"></script>
    <script src="/bundles/wshwebsite/js/jquery.fancybox.pack.js"></script>
    <script src="/bundles/wshwebsite/js/jquery.smartStartSlider.min.js"></script>
    <script src="/bundles/wshwebsite/js/jquery.jcarousel.min.js"></script>
    <script src="/bundles/wshwebsite/js/jquery.cycle.all.min.js"></script>
    <script src="/bundles/wshwebsite/js/jquery.isotope.min.js"></script>
    <script src="/bundles/wshwebsite/js/audioplayerv1.min.js"></script>
    <script src="//maps.google.com/maps/api/js?sensor=false"></script>
    <script src="/bundles/wshwebsite/js/jquery.gmap.min.js"></script>
    <script src="/bundles/wshwebsite/js/jquery.touchSwipe.min.js"></script>
    <script src="/bundles/wshwebsite/js/custom.js"></script>
<!--<![endif]-->
{% endblock %}
    <!-- Google Analitycs -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36811418-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- #end Google Analitycs -->
</body>
</html>