{% extends '::base.html.twig' %}
{% block title %}
    Clients
    {{ parent() }}
{% endblock %}
{% block body %}
    <header class="page-header">

        <h1 class="page-title">Our Clients</h1>

        <ul id="portfolio-items-filter">

            <li>Showing</li>
            <li><a data-categories="*">All</a></li>
            {% for country in countries %}
                <li><a data-categories="{{ country.country|lower }}">{{ country.country }}</a></li>
            {% endfor %}

        </ul><!-- end #portfolio-items-filter -->

    </header><!-- end .page-header -->

    <section id="portfolio-items" class="clearfix">
    {% for client in clients %}

        <article class="one-fourth{% if loop.index % 4 == 0 %} last{% endif %}" data-categories="{{ client.country|lower }}">

            <a href="#client-{{ client.id }}" class="single-image inline-html" title="{{ client.name }} from {{ client.city }}, {{ client.country }}">
                <img src="/{{ client.getWebPath }}" alt="{{ client.name }} logo">
            </a>

            <a href="#client-{{ client.id }}" class="project-meta">
                <h5 class="title">{{ client.name }}</h5>
                <span class="categories">{{ client.city }}, {{ client.country }}</span>
            </a>
            <div style="display:none">
                <div id="client-{{ client.id }}">
                    {{ client.description|raw }}
                </div>
            </div>
            <!-- end! client description modal div -->
        </article><!-- end .one-fourth (Altered) -->
    {% endfor %}
        <article class="one-fourth{% if (clients|length + 1) % 4 == 0 %} last{% endif %}" data-categories="">

            <a href="#add-new" class="single-image inline-html" title="Become a partner of WENIGER">
                <img src="{{ asset('bundles/wshwebsite/img/client_logos/add_new.png') }}" alt="Become a partner">
            </a>

            <a href="#" class="project-meta">
                <h5 class="title">Become a partner</h5>
                <span class="categories">&nbsp;</span>
            </a>

            <!-- client description -->
            <div style="display:none">
                <div id="add-new">
                    <div class="one-third last">
                        <p>
                            <strong>WENIGER</strong> would gladly welcome you as our partner.
                        </p>
                        <p>
                            If your business has a demand for our <a href="{{ path("services") }}">services</a> or you
                            have any other business concept we are open for any inquiry.
                        </p>
                        <ul class="arrow">
                            <li><a href="{{ path("contact") }}">Contact <strong>WENIGER</strong></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end! client description modal div -->

        </article><!-- end .one-fourth (End) -->
    </section><!-- end #portfolio-items -->

{% endblock %}