{% extends '::base.html.twig' %}
{% block title %}
    Welcome to Weniger Software House
{% endblock title %}
{% block head_bottom %}
    {{ parent() }}
    <meta name="description" content="Weniger Software House is small software company that develops web & mobile applications using modern technologies and passion">
    <meta name="keywords" content="software development, mobile development, software house, software production">{% endblock %}
{% block body %}
    <h2 class="slogan align-center">                
        We develop useful and innovative software tools to improve peoples lives<br>using reliability and passion as our framework
    </h2>

    <section id="features-slider" class="ss-slider">

        <article class="slide">
        
            <img src="{{ asset('bundles/wshwebsite/img/homepage/carousel_sd.png') }}" alt="" class="slide-bg-image" />
        
            <div class="slide-button">      
                <span class="dropcap">SD</span>
                <h5>Software development</h5>
                <span class="description">Web &amp; mobile for internal and external use</span>
            </div>
            
            <div class="slide-content">
                <p>We specialize in software production for internet and mobile devices. We deliver on time and with quality.</p>
                <p><a class="button" href="{{ path('services') }}">Read More</a></p>
            </div>
            
        </article><!-- end .slide (HTML5 / CSS3) -->
    
        <article class="slide">
        
            <img src="{{ asset('bundles/wshwebsite/img/homepage/carousel_ba.png') }}" alt="" class="slide-bg-image" />
            
            <div class="slide-button">
                <span class="dropcap">BA</span>
                <h5>Business analysis</h5>
                <span class="description">Optimize processes and tasks</span>
            </div>
        
            <div class="slide-content">
                <p>Lower your costs and ease your life by making business processes less time consuming and frustrating.</p>
                <p><a class="button" href="{{ path('services') }}">Read More</a></p>
            </div>
            
        </article><!-- end .slide (Responsive Layout) -->
    
        <article class="slide">
        
            <img src="{{ asset('bundles/wshwebsite/img/homepage/carousel_rd.png') }}" alt="" class="slide-bg-image" />
        
            <div class="slide-button">
                <span class="dropcap">RD</span>
                <h5>Reasearch &amp; development</h5>
                <span class="description">Built the way you want it!</span>
            </div>
            
            <div class="slide-content">
                <p>
                    We develop and embrace new technologies that will help the world.
                </p>
                <p><a class="button" href="{{ path('services') }}">Read More</a></p>
            </div>
            
        </article><!-- end .slide (Easily Customisable) -->

        
    </section><!-- end #features-slider -->

    {% if blogPosts|length > 3 %}
    <h6 class="section-title">Latest entries from our blog</h6>
    <ul class="post-carousel">

        {% for blogPost in blogPosts %}
            <li>
                {% if blogPost.getWebPath is not empty %}
                <a href="{{ path('blog_single', {slug: blogPost.slug}) }}">
                    <img src="{{ blogPost.getWebPath | imagine_filter('homepage_blog_thumb') }}" alt="{{ blogPost.title }} lead photo" class="entry-image">
                </a>
                {% endif %}
                <div class="entry-meta">

                    <a href="{{ path('blog_single', { slug: blogPost.slug }) }}">
                        <span class="post-format">Permalink</span>
                    </a>

                    <span class="date">{{ blogPost.createdAt|date("M d Y") }}</span>

                </div><!-- end .entry-meta -->

                <div class="entry-body">

                    <a href="{{ path('blog_single', { slug: blogPost.slug }) }}">
                        <h5 class="title">{{ blogPost.title }}</h5>
                    </a>

                    <p>{{ blogPost.leadText }}</p>

                </div><!-- end .entry-body -->

            </li>
        {% endfor %}
    </ul><!-- end .post-carousel -->
    {% endif %} {# if lenght of blogPosts > 0 #}
    {% endblock body %}