{% extends '::base.html.twig' %}
{% block title %}
    Services
    {{ parent() }}
{% endblock %}
{% block body %}
<header class="page-header">

		<h1 class="page-title">Services</h1>
		<hr />
		<h2 class="page-description">
            Our Core Competencies.
        </h2>
		
</header><!-- end .page-header -->
	
<div class="one-third">

    <div class="service-header">
        <img src="{{ asset('/bundles/wshwebsite/img/services/service_icon_ba.png') }}"> 
        <h3>Business analysis &amp; consulting</h3>
    </div>

    <p>
        We will optimize your business tasks to make them less time consuming, more efficient, smarter and less frustrating.
    </p>
    <p>
        <strong>We have experience in delivering solutions to business areas such as:</strong>
    </p>
    <ul class="arrow dotted">
        <li>commerce</li>
        <li>HR management</li>
        <li>logistics</li>
        <li>print on-demand</li>
        <li>time tracking</li>
        <li>electronic assembly</li>
        <li>science publishing</li>
        <li>business statistics and live calculations</li>
        <li>warehouse management</li>
    </ul>

</div><!-- end .one-third -->

<div class="one-third">

    <div class="service-header">
        <img src="{{ asset('/bundles/wshwebsite/img/services/service_icon_sd.png') }}"> 
        <h3>Web &amp; mobile software development</h3>
    </div>
    <p>
        We design and develop <strong>web &amp; mobile software</strong> for <strong>business processes and marketing needs</strong> using cutting edge web
        technologies and management methodologies.
    </p>
    <p><strong>We are experts in developing:</strong></p>
    <ul class="arrow dotted">
        <li>bespoke information systems</li>
        <li>advanced e-commerce platforms</li>
        <li>mobile applications (iOS, Android, Windows Phone)</li>
        <li>web portals</li>
        <li>B2B systems</li>
        <li>intranets</li>
    </ul>


</div><!-- end .one-third -->

<div class="one-third last">
    <div class="service-header">
        <img src="{{ asset('/bundles/wshwebsite/img/services/service_icon_rd.png') }}"> 
        <h3>Research &amp; development</h3>
    </div>

    <p>
        We are researching new ideas and exploring new possibilities that will hopefully, when implemented, make the world a better place.
    </p>
    <p>
        <strong>Our current focus is directed at:</strong>
    </p>
    <ul class="arrow dotted">
        <li>psychology &amp; technology coupling</li>
        <li>artificial intelligence</li>
        <li>synergy effects in information systems</li>
    </ul>
    {#
    <p>
        <a title="30 days project information" href="{{ path("page", {slug: '30-days'}) }}">Read more</a> about <strong>30 days</strong> - our internal mobile system project, targetet on habits changing.
    </p>
    #}
</div><!-- end .one-third.last -->
<header class="page-header">

        <hr />
        <h2 class="page-description">
            Our workshop.
        </h2>
        
</header><!-- end .page-header --><div class="one-half">
    <h3>Technologies</h3>
    <p>
        We use a variety of technologies and we don't hide from nothing that catches our eye:
    </p>
    <ul class="arrow dotted">
        <li>PHP 5 with <a href="http://symfony.com/">Symfony 2</a> framework - our primary development platform</li>
        <li>Native iOS development (using Objective-C)</li>
        <li>We turn to modern JavaScript frameworks more and more, and hope to do so increasingly in the future</li>
    </ul>
    <img class="bw-image" src="{{ asset('/bundles/wshwebsite/img/services/technologies_thumb.png') }}"> 

</div>
<div class="one-half last">
    <h3>Methodologies and QA</h3>
    <p>
        We continuously evaluate our results and improve our processes and final product quality.<br>
    </p>
    <p>
        Tools we use to achieve maximum quality possible:
    </p>
    <ul class="arrow dotted">
        <li>First of all: trust and honesty</li>
        <li>One of the most perfected ticketing systems for coordinating our team: <a href="http://www.atlassian.com/software/jira/overview">JIRA</a></li>
        <li><a href="http://git-scm.com/">Git</a> with <a href="https://github.com/">GitHub</a> for source control</li>
        <li><a href="http://behat.org/">Behat</a> for automated behavioral tests (BDD)</li>
        <li><a href="https://travis-ci.org/">Travis</a> for continuous integration</li>
        <li><a href="http://newrelic.com/">New relic</a> for server monitoring</li>
    </ul>
</div>
<div>
</div>
{% endblock %}