{% extends '::base.html.twig' %}
{% block title %}
    Team
    {{ parent() }}
{% endblock %}
{% block body %}
    <header class="page-header">

        <h1 class="page-title align-left">Our Team</h1>

        <hr />

        <h2 class="page-description">
            Small, but 100% devoted team that is ready to give you 110%.
        </h2>

    </header><!-- end .page-header -->

    <div class="team-member one-fourth">

        <img src="{{ '/bundles/wshwebsite/img/team_pictures/bartosz-rychlicki.jpg' | imagine_filter('team_member_photo') }}" alt="" class="photo">

        <div class="content">

            <h4 class="name">Bartosz Rychlicki</h4>

            <span class="job-title">CEO & Founder</span>


        </div><!-- end .content -->


    </div><!-- end .team-member.one-fourth -->

    <div class="team-member one-fourth">

        <img src="{{ '/bundles/wshwebsite/img/team_pictures/krzysztof-cywinski.jpg' | imagine_filter('team_member_photo') }}" alt="" class="photo">

        <div class="content">

            <h4 class="name">Krzysztof Cywiński</h4>

            <span class="job-title">Software Engineer</span>

        </div><!-- end .content -->

    </div><!-- end .team-member.one-fourth -->

    <div class="team-member one-fourth">

        <img src="{{ '/bundles/wshwebsite/img/team_pictures/pawel-jedrzejczyk.jpg' | imagine_filter('team_member_photo') }}" alt="" class="photo">

        <div class="content">

            <h4 class="name">Paweł Jędrzejczyk</h4>

            <span class="job-title">Front-end developer</span>

        </div><!-- end .content -->

    </div><!-- end .team-member.one-fourth -->

    <div class="team-member one-fourth last">

        <img src="{{ '/bundles/wshwebsite/img/team_pictures/pawel-tylingo.jpg' | imagine_filter('team_member_photo') }}" alt="" class="photo">

        <div class="content">

            <h4 class="name">Paweł Tylingo</h4>

            <span class="job-title">QA Manager</span>

        </div><!-- end .content -->

    </div><!-- end .team-member.one-fourth.last -->

    <div class="team-member one-fourth">
        <a href="#join-family" class="inline-html">
            <img src="{{ asset("bundles/wshwebsite/img/team_pictures/join.png") }}" alt="Join sign" class="photo">
        </a>
        <div class="content">

            <h4 class="name">Join family</h4>

            <span class="job-title">Passionate</span>


        </div><!-- end .content -->
        <div style="display:none">
            <div id="join-family">
                <div class="two-third last">
                    <p>
                        We are always looking for people with passion for <em>Web Software Development, New technologies,
                        Design</em> and <em>Enhancing the User Experience</em> to join <strong>WENIGER</strong> and work with us.
                    </p>
                    <p>
                        When you have passion, you have it all. Your age, degree or cultural background won't matter.<br>
                        If you have what it takes and would like to work with us, drop us a line about your abilities and goals.
                    </p>
                    <ul class="arrow">
                        <li><a href="{{ path("contact") }}">Contact <strong>WENIGER</strong></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end! client description modal div -->

    </div><!-- end .team-member.one-fourth -->


{% endblock %}