{% extends '::base.html.twig' %}
{% block title %}
    {{ document.title }}
    {{ parent() }}
{% endblock %}
{% block body %}
<header class="page-header">

    <h1 class="page-title">Welcome to our blog</h1>

</header><!-- end .page-header -->

<section id="main">

    <article class="entry single clearfix">

        {% if document.getWebPath is not empty %}
        <a href="/{{ document.getWebPath }}" title="{{ document.title }}" class="entry-image-link">
            <img src="/{{ document.getWebPath }}" alt="Picture for blog entry {{ document.title }}" class="entry-image">
        </a>
        {% endif %}

        <div class="entry-body">

            <a href="{{ path('blog_single', {slug: document.slug}) }}">
                <h1 class="title">{{ document.title }}</h1>
            </a>
            {% if document.leadText is not empty %}
                {{ document.leadText }}
            {% endif %}

            {% if document.quote is not empty %}
                <blockquote>
                    {{ document.quote }}
                </blockquote>
            {% endif %}

            {{ document.body|raw }}
        </div><!-- end .entry-body -->

        <div class="entry-meta">

            <ul>
                <li><a href="{{ path('blog_single', {slug: document.slug}) }}"><span class="post-format">Permalink</span></a></li>
                <li><span class="title">Posted:</span><br> <a href="#">{{ document.createdAt|date("M d, Y") }}</a></li>
                <li><span class="title">Author:</span><br> <a href="{{ path('team') }}">{{ document.author }}</a></li>
                {#<li><span class="title">Tags:</span> <a href="#">Standard</a></li>#}
                {#<li><span class="title">Comments:</span> <a href="#">3</a></li>#}
            </ul>

        </div><!-- end .entry-meta -->

    </article><!-- end .entry -->
    {# links to next and previous posts#}
    <div id="post-navigation">
        {% if previous != null %}
            <a href="{{ path("blog_single", {slug: previous.slug}) }}" title="{{ previous.title }}" class="post-prev">
                Previous post
            </a>
        {% endif %}
        {% if next != null %}
            <a href="{{ path("blog_single", {slug: next.slug}) }}" title="{{ next.title }}" class="post-next">
                Next post
            </a>
        {% endif %}
    </div>
    {#
    <section id="comments">

        <h6 class="section-title">Comments (4)</h6>

        <ol class="comments-list">

            <li class="comment">

                <article>

                    <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50" alt="Image" class="avatar">

                    <div class="comment-meta">

                        <h5 class="author"><a href="#">John Doe</a> - <a href="#" class="comment-reply-link">Reply</a></h5>

                        <p class="date">January 06, 2011</p>

                    </div><!-- end .comment-meta -->

                    <div class="comment-body">

                        <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>

                    </div><!-- end .comment-body -->

                </article>

                <ul class="children">

                    <li class="comment">

                        <article>

                            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50" alt="Image" class="avatar">

                            <div class="comment-meta">

                                <h5 class="author"><a href="#">John Doe</a> - <a href="#" class="comment-reply-link">Reply</a></h5>

                                <p class="date">January 06, 2011</p>

                            </div><!-- end .comment-meta -->

                            <div class="comment-body">

                                <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>

                            </div><!-- end .comment-body -->

                        </article>

                    </li>

                </ul><!-- end .children -->

            </li>

            <li class="comment">

                <article>

                    <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50" alt="Image" class="avatar">

                    <div class="comment-meta">

                        <h5 class="author"><a href="#">John Doe</a> - <a href="#" class="comment-reply-link">Reply</a></h5>

                        <p class="date">January 06, 2011</p>

                    </div><!-- end .comment-meta -->

                    <div class="comment-body">

                        <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>

                    </div><!-- end .comment-body -->

                </article>

            </li>

            <li class="comment">

                <article>

                    <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=50" alt="Image" class="avatar">

                    <div class="comment-meta">

                        <h5 class="author"><a href="#">John Doe</a> - <a href="#" class="comment-reply-link">Reply</a></h5>

                        <p class="date">January 06, 2011</p>

                    </div><!-- end .comment-meta -->

                    <div class="comment-body">

                        <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>

                    </div><!-- end .comment-body -->

                </article>

            </li>

        </ol>

    </section>

    <section id="respond">

        <h6 class="section-title">Leave a Comment</h6>

        <form method="post" class="comments-form">

            <p class="input-block">
                <label for="comment-name"><strong>Name</strong> (required)</label>
                <input type="text" name="name" value="" id="comment-name" required>
            </p>

            <p class="input-block">
                <label for="comment-email"><strong>Email</strong> (required)</label>
                <input type="email" name="email" value="" id="comment-email" required>
            </p>

            <p class="input-block">
                <label for="comment-url"><strong>Website</strong></label>
                <input type="url" name="url" value="" id="comment-url">
            </p>

            <p class="textarea-block">
                <label for="comment-message"><strong>Your Comment</strong> (required)</label>
                <textarea name="message" id="comment-message" cols="88" rows="6" required></textarea>
            </p>

            <input type="submit" value="Submit">

            <div class="clear"></div>

        </form>

    </section>
    #}
</section><!-- end #main -->
{% render controller('WshWebsiteBundle:Default:renderBlogSideBar') %}
{% endblock %}